/* work_sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
font-family: "Work Sans";
font-size: 20px;
}

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
}